<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title class="ion-text-center">In progress</ion-title>
    <ion-buttons slot="end">
      <ion-fab-button size="small" (click)="openModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-content>
    <ion-list>
      <app-in-progress-element *ngFor="let inprogress of inprogresses" [inprogress]="inprogress" [routerLink]="inprogress.id"></app-in-progress-element>
    </ion-list>
  </ion-content>
