<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/finished"></ion-back-button>
    </ion-buttons>
    <ion-title>finished-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding ion-text-center">
    <img [src]="finished.imageUrl" offset="4" />
    <ion-card-header>
      <ion-card-title>{{finished.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <text>Rating: </text>{{finished.rating}}/10
    </ion-card-content>
    <ion-card-content>
      <text>Comment: </text><br />
      {{finished.comment}}
    </ion-card-content>
  </ion-card>

</ion-content>
